.Features {
  margin-top: 82px;
  max-width: 1290px;
  margin: 0 auto;
}

.Features h2 {
  color: #2F2A37;
  text-align: center;
  font-family: Avenir;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%;
}

.Features>p {
  color: #6E6C72;
  text-align: center;
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 776px;
  margin: 0 auto;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 84px;
  gap: 27px;
}

.feature-card {
  display: flex;
  align-items: start;
  padding: 48px 58px 38px 52px;
  justify-content: center;
  flex-direction: column;
  max-width: 301px;
  max-height: 202px;
  border-radius: 10px;
  background: linear-gradient(139deg, #FFF -21.71%, rgba(243, 246, 239, 0.00) 94.44%);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(5.5px);
}

.feature-card h3 {
  color: #2F2A37;
  font-family: Avenir;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.feature-card p {
  color: #2F2A37;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

button {
  width: 245px;
  height: 55px;
  border-radius: 40px;
  border: 3px solid var(--gradient, #6BFFCA);
  background: var(--gradient, linear-gradient(92deg, #6BFFCA 13.34%, #00FF47 129.97%));
  margin: 84px 0;
  color: var(--Ed-Space, #2F2A37);
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #000;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}