.features {
  margin: 0 auto;
  padding-top: 82px;
}

.features h2 {
  position: relative;
  color: #2F2A37;
  text-align: center;
  font-family: Avenir;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%;
}

.features>.container>p {
  position: relative;
  color: #6E6C72;
  text-align: center;
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 776px;
  margin: 0 auto;
  margin-top: 23px;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 84px;
  gap: 20px;
}

.feature-card {
  display: flex;
  align-items: start;
  padding: 44px 60px 38px 60px;
  justify-content: center;
  flex-direction: column;
  max-width: 388px;
  height: 316px;
  border-radius: 10px;
  background: linear-gradient(139deg, #ffffff4d -21.71%, rgba(243, 246, 239, 0.00) 94.44%);
  box-shadow: 2px 2px 8px 3px rgba(192, 192, 192, 0.505);
  backdrop-filter: blur(5.5px);
}

.feature-card h3 {
  color: #2F2A37;
  font-family: Avenir;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 17px;
}

.feature-card p {
  color: #2F2A37;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-top: 21px;

}