.for-u {
  padding-top: 79px;
  background-color: rgb(19, 16, 30);
}

.for-u__wrapper {
  display: flex;
  flex-direction: column;
}

.for-u__wrapper>h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 115%;
  color: white;
}

.for-u__wrapper>button {
  margin-right: auto;
}

.for-u__wrapper-content {
  display: flex;
  margin-top: 82px;
  justify-content: space-between;
}

.content-box {
  display: flex;
  color: white;
}

.content-box img {
  margin-right: 21px;
  height: 132px;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box-text h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.box-text span {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.btn-pos {
  display: flex;
  justify-content: center;
}