.box {
  position: relative;
  padding-bottom: 94px;
  background: url("Boc_bcg2.png") center center/cover no-repeat;

}

.zindex {
  position: relative;
  background: url("Box_bcg.png");
  overflow: visible;
  bottom: 70px;
}

/* .box>img {
  position: absolute;
  width: 100%;
  z-index: -1;
  overflow: visible;
  max-height: 100%;
  object-fit: cover;
  top: 95px;
  background-size: cover;
  background-position: center;
} */

/* .box .bcg-2 {
  position: absolute;
  z-index: -2;
  width: 100%;
  overflow: visible;
  top: 250px;
  max-height: 88%;
  background-size: cover;
  background-position: center;
} */


.box__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 77px;
}

.box__wrapper_small {
  display: flex;
  align-items: center;
  width: max-content;
  color: #2F2A37;
  gap: 25px;
  text-align: center;
  padding: 18px 18px 21px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 84px;
  background: linear-gradient(180deg, silver -13.5%, rgba(243, 246, 239, 0.00) 187.91%);
  box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
}

.box .container>h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  padding-top: 82px;
  color: white;
  padding-top: 190px;
}

.online {
  display: flex;
  flex-direction: column;
  margin-top: 103px;
}

.online__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 115%;
  color: white;
}

.title-descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: white;
  margin-top: 15px;
}

.online__price {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #6BFFCA;
  margin-top: 49px;
}

.online__ready {
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  margin-top: 15px;
  color: white;
}

.direction {
  display: flex;
  justify-content: space-between;
}

.direction__descr h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 115%;
  color: white;
  margin-top: 40px;
  margin-bottom: 7px;
}

.direction__descr h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  color: #6BFFCA;
  margin-top: 46px;
}

.direction__descr h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: white;
  margin-top: 19px;
}