/* * {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  padding: 50px;
}

#root div {
  display: grid;
  gap: 30px;
  height: 100%;
}

#root>div>* {
  background-color: rgba(192, 192, 192, 0.2);
}

h1 {
  text-align: center;
  color: blue;
  margin: 0;
} */

.features__btn {
  width: 245px;
  height: 55px;
  border-radius: 40px;
  border: 3px solid var(--gradient, #6BFFCA);
  background: var(--gradient, linear-gradient(92deg, #6BFFCA 13.34%, #00FF47 129.97%));
  margin: 84px 0;
  color: var(--Ed-Space, #2F2A37);
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}